* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background-color: #F5F0E6;
    color: #1C1F2B;
    padding-top: 8rem;
  }

  /*HEADER*/

  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #1C1F2B;
    color: #F5F0E6;
    padding: 1.5rem 0;
    z-index: 1000;
  }

  .logo  img{
    display: flex;
    justify-content: space-between;
    width: 250px;
  }
  
  .container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
  }

  .topheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
  }
  
  .menu-horizontal li a {
    display: block;
    padding: 15px 20px;
    color: #F5F0E6;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
  }
  
  .menu-horizontal li a:hover {
    color: #1C1F2B;
    background-color: #F5F0E6;
  }

  /*HERO SECTION*/

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-margin-top: 10rem;
    padding: 4rem 10rem;
    background-color: #1C1F2B;
    color: #F5F0E6;
    border-radius: 10px;
    margin: 4rem;
    gap: 2rem;
    flex-wrap: wrap;
  }
  
  .hero-content h1 {
    font-size: 5rem;
    font-family: "Inter", sans-serif;
    line-height: 1.4;
  }
  
  .cta-button {
    display: block;
    margin-top: 5rem;
    background-color: #facc15;
    color: #1C1F2B;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-family: "Nunito", sans-serif;
  }

  .hero-image img {
    width: 600px;
  }

   /*HOW-IT-WORKS SECTION*/

   .how-it-works {
    text-align: center;
    scroll-margin-top: 10rem;
    padding: 4rem 3rem;
    margin: 4rem;
    background-color: #F5F0E6;
  }
  
  .how-it-works h2 {
    font-family: "Inter", sans-serif;
    font-size: 4rem;
    margin-bottom: 7rem;
    color: #1C1F2B;
  }
  
  .steps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .step {
    flex: 1 1 200px;
    max-width: 220px;
  }
  
  .step i{
    font-size: 10rem;
    margin-bottom: 2rem;
  }
  
  .step h3 {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #1C1F2B;
  }
  
  .step p {
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    color: #1C1F2B;
  }
  